{% include "navbar.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
{% block content %}


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">

                <div class="card card-body">
                    <form action="" method='POST'>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Place order" class="btn btn-primary">
                    </form>

                </div> 
               
            </div>

           <div class="col-md-6">
    <div class="card card-body" style="padding:20px; border:1px solid #ddd; border-radius:10px; box-shadow:0 4px 8px rgba(0,0,0,0.1); background:#fafafa; height: 100%;" >
        
        {% for item in cart_items %}
            {% if item.product.product_img %}
            
            <div style="display:flex; align-items:center; gap:15px; margin-bottom:15px; padding:10px; border-bottom:1px solid #e0e0e0;">
                <img src="{{ item.product.product_img.url }}" alt="{{ item.product.product_name }}" style="width: 120px; height:auto; border-radius:8px; object-fit:cover; border:1px solid #ccc;">
                <div>
                    <h6 style="margin:0; font-size:16px; font-weight:600; color:#333;">{{ item.product.product_name }}</h6>
                    <h6 style="margin:5px 0; font-size:14px; color:#555;">Price: ₹{{ item.product.product_price }}</h6>
                    <h6 style="margin:0; font-size:14px; color:#555;">Total Quantity: {{ item.quantity }}</h6>
                    <h6 style="margin:0; font-size:14px; color:#555;">Total cost ₹{{ item.product.product_price|mul:item.quantity }}</h6>


                </div>
            </div>

            {% endif %}
        {% endfor %}

        <h2 style="text-align:right; margin-top:20px; font-size:20px; font-weight:700; color:#222; border-top:2px solid #ccc; padding-top:10px;">
            Grand Total : ₹{{ total_price }}
        </h2>

    </div>
</div>

  
        </div>
    </div>
</div>
<hr>

{% endblock content %}


{% include "fotter.html" %} 

    